body {
  background-image: linear-gradient(to bottom, white 0,9%, green 300%);
}
main {
  padding: 70px;
}
form {
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(169, 157, 157);
  font-size: x-large;
}

label{
  font-style: italic;
}

input {
  width: 100%;
  background-color: #C8E6C9;
  border: 1px solid #9a8e8ea7;
  padding-bottom: 10px;
  border-radius: 5px;
  font-size: 14px;
  color: rgb(41, 41, 41);
  font-family: "Verdana", sans-serif;
  align-items: center;
}

input:focus {
  background-color: #AED581;
  border-color: black;
  outline: none;
}
textarea {
  width: 100%;
  background-color: #C8E6C9;
  border: 1px solid #9a8e8ea7;
  border-radius: 10px;
  padding-bottom: 30px;
  font-size: 13px;
  color: black;
  font-family: "Verdana", sans-serif;
}

textarea:focus {
  background-color: #AED581;
  border-color: black;
  outline: none;
}

button {
  margin-top: 30px;
  background-color: green; /* verde natureza */
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #388E3C;
}
