.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.list li {
  padding-top: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.name {
  font-weight: bold;
}
