body {
  background-image: url('imagens/floresta.png');
  height: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 
main {
  text-align: center;
}

h1 {
  padding-top: 10px;
}

p {
  font-size: 18px;
  line-height: 1.6;
  max-width: 800px;
  padding-top: 50px;
}

h2 {
  padding-top: 20px;
  font-size: large;
}

#marca {
  font-size: medium;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  padding-top: 399px;
  text-align: center;
}

