body {
  background-image: url(../imagens/floresta.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 

body.tema-escuro {
  background-image:url(../imagens/floreta-noturna.png);
  background-position: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  text-align: center;
}

h1 {
  padding-top: 10px;
}

main > p {
  font-size: 25px;
  line-height: 1.6;
  max-width: 800px;
  padding-top: 50px;
}

h2 {
  padding-top: 20px;
  font-size: large;
}
